<div class="navbar-cnt">

	<div class="navbar-inner">

		<ul class="menu-options">

			<li *ngIf="isLogged() && perfil=='admin'">Menú 1 Admin</li>
			<li *ngIf="isLogged() && perfil=='admin'">Menú 2 Admin</li>
			<li *ngIf="isLogged() && perfil=='experto'">Menú 1 Experto</li>
			<li *ngIf="isLogged() && perfil=='experto'">Menú 2 Experto</li>
			<li *ngIf="isLogged() && perfil=='experto'">Especialidad: {{ especialidadNombre }}</li>

		</ul>

		<ul class="menu-login">

			<li *ngIf="isLogged()">{{getNombre()}}<button (click)="logout()">LOGOUT</button></li>
			<li *ngIf="!isLogged()"><button (click)="login()">LOGIN</button></li>
			
		</ul>

	</div>

</div>