<div class="container">
	<h2 class="text-center my-4">Panel de Administración</h2>
  
	<div class="grid">
	  <button class="btn btn-primary" (click)="goTo('participantes')">
		Ver Lista de Participantes
	  </button>

	  <button class="btn btn-primary" (click)="goTo('expertos')">
		Ver Lista de Expertos
	  </button>

  
	  <button class="btn btn-success" (click)="goTo('crear-experto')">
		Crear Experto
	  </button>
  
	  <button class="btn btn-warning" (click)="goTo('crear-especialidad')">
		Crear Especialidad
	  </button>
  
	  <button class="btn btn-info" (click)="goTo('especialidades')">
		Visualizar Especialidades
	  </button>
	</div>
  </div>
  