<div>
	<h2>Registrar nuevo usuario</h2>
	<form (ngSubmit)="registrarUsuario()">
	  
	  <label for="nombre">Nombre:</label>
	  <input id="nombre" [(ngModel)]="nombre" name="nombre" required />
  
	  <label for="apellidos">Apellidos:</label>
	  <input id="apellidos" [(ngModel)]="apellidos" name="apellidos" required />
  
	  <label for="usuario">Nombre de usuario:</label>
	  <input id="usuario" [(ngModel)]="usuario" name="usuario" required />
  
	  <label for="password">Contraseña:</label>
	  <input type="password" id="password" [(ngModel)]="password" name="password" required />
  
	  <label for="email">Email:</label>
	  <input type="email" id="email" [(ngModel)]="email" name="email" required />
  
	  <label for="especialidad">Especialidad:</label>
	  <select id="especialidad" [(ngModel)]="especialidadId" name="especialidadId" required>
		<option *ngFor="let esp of especialidades" [value]="esp.idEspecialidad">{{ esp.nombre }}</option>
	  </select>
  
	  <button type="submit">Registrar</button>
	</form>
  
	<div *ngIf="errorMessage" class="error">
	  {{ errorMessage }}
	</div>
  </div>
  